.btn {
    width: 200px;
    border-radius: 20px 20px 20px 20px;
}

.myColor {
    color: #3f51b5;
}

.heading {
    font-size: 5em;
    margin-bottom: 3em;
}

.textStyles {
    text-shadow: 0 0 1px;
}

@media screen and (max-width: 1520px) {
    .heading {
        font-size: 3.5em;
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 1145px) {
    .heading {
        font-size: 3em;
        margin-bottom: 3em;
    }
    .textStyles {
        text-shadow: 0 0 1px;
        font-size: 1em
    }
}

@media screen and (max-width: 895px) {
    .heading {
        font-size: 2.5em;
        margin-bottom: 3em;
    }
    .textStyles {
        text-shadow: 0 0 1px;
        font-size: .9em
    }
    .btn {
        width: 150px;
        border-radius: 20px 20px 20px 20px;
    }
}

@media screen and (max-width: 769px) {
    .heading {
        font-size: 4em;
        margin-bottom: 3em;
    }
    .btn {
        width: 200px;
        border-radius: 20px 20px 20px 20px;
    }
}